*{
    font-family: Helvetica, sans-serif;
}

body{
    padding: 60px; 
}

input{
    color: grey; 
    font-size: 1.2rem;
    width: 100%; 
}

button{
    margin-bottom: 5px;
}

.container{
    border: 1px solid #ccc; 
    border-radius: 15px;
    box-shadow: 0 5px 5px 1px #000;
    max-width: 1200px;
    min-width: 320px;
    padding: 5px;
    margin-top: 0; 
    margin-right: auto;
    margin-left: auto;
}

.title{
    text-align: center;
}

img{
    max-width: 100%;
}

.grid{
    padding-left: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 5px; 
}

.grid-item{
    border: 2px solid #000; 
    border-radius: 15px; 
    text-align: center;
    list-style: none;
}
